.root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
